<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.sekmetech.namazvaktim">

    <!-- permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- application settings -->
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- start this activity after phone starts -->
        <receiver
            android:name=".BootUpReceiver"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <!-- Splash screen -->
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- setup screen on first launch -->
        <activity
            android:name=".SetupActivity"
            android:configChanges="locale"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_setup"
            android:theme="@style/SetupTheme" />
        <!-- home page -->
        <activity
            android:name=".MainActivity"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- settings -->
        <activity
            android:name=".SettingsActivity"
            android:configChanges="locale"
            android:label="@string/tabAyarlar"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>
